In [1]:
import numpy as np

In [2]:
class LinearRegression:
    
    def __init__(self, lr=0.001, n_iters=1000):
        self.lr = lr
        self.n_iters = n_iters
        self.weights, self.bias = None, None
        
    def fit(self, X, y):
        # First, randomly initialize the weights
        n_samples, n_features = X.shape
        self.weights = np.zeros(n_features)
        self.bias = 0.0
        
        for _ in range(self.n_iters):
            y_approx = np.dot(X, self.weights) + self.bias
            
            # Gradient calculations w.r.t "w" and "b"
            dw = float(1/n_samples) * np.dot(X.T, (y_approx - y))
            db = float(1/n_samples) * np.sum(y_approx - y)
            
            # Update the params
            self.weights -= self.lr * dw
            self.bias -= self.lr * db
    
    def predict(self, X):
        y_pred = np.dot(X, self.weights) + self.bias
        return y_pred

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv('data/iris.data', names=['f1', 'f2', 'f3', 'f4', 'species'])

In [5]:
data.head()

    f1   f2   f3   f4      species
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [6]:
data.loc[(data.species == 'Iris-setosa'), 'species'] = -1.0
data.loc[(data.species == 'Iris-versicolor'), 'species'] = 0.0
data.loc[(data.species == 'Iris-virginica'), 'species'] = 1.0

In [7]:
data.tail()

      f1   f2   f3   f4 species
145  6.7  3.0  5.2  2.3       1
146  6.3  2.5  5.0  1.9       1
147  6.5  3.0  5.2  2.0       1
148  6.2  3.4  5.4  2.3       1
149  5.9  3.0  5.1  1.8       1

In [8]:
data['species'].unique()

array([-1.0, 0.0, 1.0], dtype=object)

In [9]:
data.shape

(150, 5)

In [10]:
X = data[['f1', 'f2', 'f3', 'f4',]].to_numpy()
y = data[['species']].to_numpy().ravel()

In [11]:
X = X.astype('float64')
y = y.astype('float64')

In [12]:
print(X.shape, y.shape)

(150, 4) (150,)

In [13]:
reg = LinearRegression()

In [14]:
reg.fit(X, y)

In [15]:
reg.predict(X[0].reshape(-1, 4))

array([-0.95648175])